.root {
    -fx-red-color: #da3a2f;
    -fx-grey-color: #bbbbbb;
    -fx-white-color: #eeeeee;
    -fx-green-color: #1ad969;
    -fx-blue-color: #00e1ff;
    -fx-yellow-color: #ffef50;
    -fx-orange-color: #ff9e05;
    -fx-lightRed-color: #94484c;
    -fx-transparentPurple-color: rgba(49, 11, 52, 0.92);
    -fx-purple-color: #310B34;
    -fx-shop-button-color: #622A66;
    -fx-buttonsPanel-color: #19212A;
    -fx-buttonsPanelContainer-color: #151C23;
    -fx-buttonsPanelBorder-color: #D5CBC5;
    -fx-winExitButtons-color: #324254;
}

.titleMenu {
    -fx-font-size: 100px;
    -fx-text-fill: -fx-white-color;
    -fx-font-weight: bold;
}

.menuButtons {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-white-color;
    -fx-font-size: 36px;
    -fx-background-radius: 0px;
    -fx-padding: 0px;
}

.menuButtons:hover {
    -fx-background-color: -fx-lightRed-color;
}

#menuBackground {
    -fx-background-color: -fx-purple-color;
}

.menuWindow {
    -fx-background-color: -fx-transparentPurple-color;
    -fx-font-size: 32px;
}

#optionsTitleMenu {
    -fx-font-size: 48px;
    -fx-text-fill: -fx-white-color;
}

#shootButton {
    -fx-background-color: -fx-red-color;
    -fx-text-fill: -fx-white-color;
}

#shootButton:hover {
    -fx-background-color: derive(-fx-red-color,25%);
}

.winScreenButton {
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
    -fx-pref-height: 75px;
    -fx-pref-width: 75px;
    -fx-background-color: -fx-winExitButtons-color;
}

.winScreenButton:hover {
    -fx-background-color: derive(-fx-winExitButtons-color,25%);
}

#buttonsPanel {
    -fx-background-color: -fx-buttonsPanel-color;
}

.buttonsPanelContainer {
    -fx-background-color: -fx-buttonsPanelContainer-color;
    -fx-border-color: -fx-buttonsPanelBorder-color;
    -fx-border-radius: 4px;
    -fx-border-width: 2px;
    -fx-pref-height: 165px;
}

.ammoButtons {
    -fx-padding: 0px;
    -fx-background-color: -fx-winExitButtons-color;
    -fx-border-color: -fx-white-color;
    -fx-border-width: 0.5px;
    -fx-border-radius: 4px;
}

.ammoButtons:hover {
    -fx-background-color: derive(-fx-winExitButtons-color,25%);
}

.ammoButtons:selected {
    -fx-background-color: derive(-fx-purple-color,25%);
}

#currentPlayerPanel {
    -fx-background-color: -fx-white-color;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
}

#maxTextsPanel {
    -fx-background-color: rgb(255,255,255,0.5);
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
    -fx-border-color: -fx-white-color;
}

#tankRadarCircle {
    -fx-fill: #0c1015;
}

#winnerTankBackground {
    -fx-background-radius: 8px 8px 350px 350px;
    -fx-background-color: -fx-buttonsPanelContainer-color;
    -fx-border-color: -fx-buttonsPanelBorder-color;
    -fx-border-width: 2px;
    -fx-border-radius: 8px 8px 350px 350px;
    -fx-padding: 30px 30px 80px 30px;
}

#winScreenButtonHBox {
    -fx-padding: 0 15px 0 0;
}

#healthRemainingHBox {
    -fx-background-color: rgba(255, 255, 255, 0.8);
    -fx-background-radius: 3px;
    -fx-pref-height: 30px;
    -fx-pref-width: 145px;
    -fx-max-height: -fx-pref-height;
    -fx-max-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-min-width: -fx-pref-width;
    -fx-alignment: center;
}

#resolutionSpinner  {
    -fx-background-color: transparent;
    -fx-pref-width: 250px;
}

#resolutionSpinner .text-field {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-pref-height: 35px;
    -fx-padding: 5px 0 0 5px;
    -fx-border-radius: 8px;
}

#resolutionSpinner .increment-arrow-button, .decrement-arrow-button {
    -fx-padding: 0 8px 0 8px;
    -fx-background-radius: 4px;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 35px 35px;
    -fx-background-position: center;
}



#resolutionSpinner .increment-arrow-button {
    -fx-background-image: url("icons/arrow_right_icon.png");
    -fx-background-color: transparent;

}

#resolutionSpinner .decrement-arrow-button {
    -fx-background-image: url("icons/arrow_left_icon.png");
    -fx-background-color: transparent;

}

#resolutionSpinner .increment-arrow {
    -fx-background-color: transparent;
}

#resolutionSpinner .decrement-arrow {
    -fx-background-color: transparent;
}

#resolutionSpinner .increment-arrow-button:hover {
    -fx-background-color: -fx-lightRed-color;
}

#resolutionSpinner .decrement-arrow-button:hover {
    -fx-background-color: -fx-lightRed-color;
}

#tanksQuantitySpinner  {
    -fx-pref-width: 100px;
    -fx-background-color: transparent;
}

#tanksQuantitySpinner .text-field {
    -fx-pref-height: 35px;
    -fx-padding: 0 5px 0 5px;
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

#tanksQuantitySpinner .increment-arrow-button, .decrement-arrow-button {
    -fx-padding: 0 8px 0 8px;
    -fx-background-radius: 4px;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 35px 35px;
    -fx-background-position: center;
}

#tanksQuantitySpinner .increment-arrow-button {
    -fx-background-image: url("icons/arrow_right_icon.png");
    -fx-background-color: transparent;

}

#tanksQuantitySpinner .decrement-arrow-button {
    -fx-background-image: url("icons/arrow_left_icon.png");
    -fx-background-color: transparent;

}

#tanksQuantitySpinner .increment-arrow {
    -fx-background-color: transparent;
}

#tanksQuantitySpinner .decrement-arrow {
    -fx-background-color: transparent;
}

#tanksQuantitySpinner .increment-arrow-button:hover {
    -fx-background-color: -fx-lightRed-color;
}

#tanksQuantitySpinner .decrement-arrow-button:hover {
    -fx-background-color: -fx-lightRed-color;
}

#currentPlayerSpinnerShop {
    -fx-pref-height: 70px;
    -fx-pref-width: 200px;
    -fx-background-color: transparent;
}

#currentPlayerSpinnerShop .text-field {
    -fx-pref-height: 70px;
    -fx-padding: 0 5px 0 5px;
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-font-size: 0;
    -fx-text-fill: transparent;
    -fx-opacity: 0;
    -fx-cursor: default;
}

#currentPlayerSpinnerShop .increment-arrow-button, .decrement-arrow-button {
    -fx-padding: 0 8px 0 8px;
    -fx-background-radius: 4px;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 35px 35px;
    -fx-background-position: center;
}

#currentPlayerSpinnerShop .increment-arrow-button {
    -fx-background-image: url("icons/arrow_right_icon.png");
    -fx-background-color: transparent;

}

#currentPlayerSpinnerShop .decrement-arrow-button {
    -fx-background-image: url("icons/arrow_left_icon.png");
    -fx-background-color: transparent;

}

#currentPlayerSpinnerShop .increment-arrow {
    -fx-background-color: transparent;
}

#currentPlayerSpinnerShop .decrement-arrow {
    -fx-background-color: transparent;
}

#currentPlayerSpinnerShop .increment-arrow-button:hover {
    -fx-background-color: -fx-lightRed-color;
}

#currentPlayerSpinnerShop .decrement-arrow-button:hover {
    -fx-background-color: -fx-lightRed-color;
}

.split-arrows-horizontal {

}


.difficultyButtons {
    -fx-max-width: 100px;
    -fx-pref-height: 30px;
    -fx-max-height: -fx-pref-height;
    -fx-font-size: 20px;
    -fx-padding: 4px 8px 4px 8px;
    -fx-background-color: -fx-buttonsPanelBorder-color;
    -fx-background-radius: 4px;
}

.difficultyButtons:hover {
    -fx-background-color: -fx-white-color;
}

.difficultyButtons:selected {
    -fx-background-color: -fx-lightRed-color;
    -fx-text-fill: -fx-buttonsPanelBorder-color;
}

.buyShotShopButton {
    -fx-background-color: -fx-shop-button-color;
    -fx-background-radius: 4px;
    -fx-min-width: 450px;
    -fx-pref-width: 525px;
    -fx-max-width: -fx-pref-width;
    -fx-padding: 0 10px 0 10px;

}

.buyShotShopButton:hover {
    -fx-background-color: derive(-fx-shop-button-color,15%);
}

.buyShotShopButton:pressed {
    -fx-background-color: derive(-fx-shop-button-color,-15%);
}

#buyAllShopButton {
    -fx-background-color: -fx-shop-button-color;
    -fx-text-fill: white;
    -fx-background-radius: 4px;
    -fx-padding: 0;
    -fx-pref-width: 140px;
    -fx-max-width: -fx-pref-width;
    -fx-pref-height: 50px;
    -fx-max-height: -fx-pref-height;
    -fx-font-size: 20px;
    -fx-font-family: Arial;
}

#buyAllShopButton:hover {
    -fx-background-color: derive(-fx-shop-button-color,15%);
}

#buyAllShopButton:pressed {
    -fx-background-color: derive(-fx-shop-button-color,-15%);
}

.ammoButtonsShop {
    -fx-padding: 0px;
    -fx-background-color: #531A57;
    -fx-border-color: -fx-white-color;
    -fx-border-width: 0.5px;
    -fx-border-radius: 4px;
}

