.root {
    -fx-red-color: #da3a2f;
    -fx-grey-color: #bbbbbb;
    -fx-white-color: #eeeeee;
    -fx-green-color: #1ad969;
    -fx-blue-color: #00e1ff;
    -fx-yellow-color: #ffef50;
    -fx-orange-color: #ff9e05;
}

.titleMenu {
    -fx-font-size: 48px;
    -fx-text-fill: -fx-white-color;
    -fx-font-weight: bold;
}

.button {
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
}

.startButton {
    -fx-background-color: -fx-green-color;
}

.startButton:hover {
    -fx-background-color: derive(-fx-green-color, 25%);
}

.exitButton {
    -fx-background-color: -fx-red-color;
    -fx-text-fill: -fx-white-color;
}

.exitButton:hover {
    -fx-background-color: derive(-fx-red-color,25%);
}

#shootButton {
    -fx-background-color: -fx-red-color;
    -fx-text-fill: -fx-white-color;
}

#shootButton:hover {
    -fx-background-color: derive(-fx-red-color,25%);
}

.winScreenButton {
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
    -fx-pref-height: 75px;
    -fx-pref-width: 75px;
}

#exitWinButton {
    -fx-background-color: -fx-red-color;
}

#exitWinButton:hover {
    -fx-background-color: derive(-fx-red-color,25%);

}

#replayWinButton {
    -fx-background-color: -fx-green-color;
}

#replayWinButton:hover {
    -fx-background-color: derive(-fx-green-color,25%);
}

#buttonsPanel {
    -fx-background-color: -fx-white-color;
}

#currentPlayerPanel {
    -fx-background-color: -fx-white-color;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
}

.menu {
    -fx-background-color: linear-gradient(to bottom, -fx-orange-color, black);
}